@charset "utf-8";
body {
	font: 90%/1.8 Verdana, Arial, Helvetica, sans-serif;
	background: #000000;
	margin: 0;
	padding: 0;
	color: #fff;
}

/* ~~ Селекторы элементов/тегов ~~ */
ul, ol, dl { /* Из-за различий между браузерами рекомендуется обнулять поля в списках. Для согласованности можно указать нужные величины либо здесь, либо в элементах списка (LI, DT, DD), которые они содержат. Помните, что сделанное здесь последовательно включается в список .nav, если только не будет прописан более конкретный селектор. */
	padding: 0;
	list-style: none;
	display: inline;
	margin: 0;
}

h1 {
	margin-top: 0;	 /* удаление верхнего поля позволяет обойти проблему выхода полей за границы содержащего их контейнера DIV. Оставшееся нижнее поле отделит его от любых последующих элементов. */
	padding-right: 15px;
	font: 200%/2 "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
}
	
h2, h3, h4, h5, h6, p {
	margin-top: 20px;	 /* удаление верхнего поля позволяет обойти проблему выхода полей за границы содержащего их контейнера DIV. Оставшееся нижнее поле отделит его от любых последующих элементов. */
	padding-right: 15px;
}
a img { /* этот селектор убирает стандартную синюю рамку, которая появляется у изображений в некоторых браузерах, если вокруг изображения есть ссылка */
	border: none;
}

/* ~~ Оформление ссылок на вашем сайте должно оставаться в этом порядке, включая группу селекторов, создающих эффект наведения. ~~ */
a:link {
	color: #6E6C64;
	text-decoration: underline; /* если только ссылки не должны выглядеть исключительно своеобразно, то для быстрого зрительного распознавания рекомендуется использовать подчеркивание */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* эта группа селекторов обеспечивает пользователю, работающему с клавиатурой, такие же возможности наведения, как и при использовании мыши. */
	text-decoration: none;
}

/* ~~ Этот контейнер фиксированной ширины окружает остальные DIV ~~ */
.container {
	width: 960px;
	background: #000;
	margin: 0 auto;
}

/* ~~ Верхнему колонтитулу не задана ширина. Он растянется на всю ширину макета. Он содержит заполнитель для изображения, который должен быть заменен логотипом по ссылке. ~~ */
.header {
	background: #000000;
	padding: 30px 15px 15px 15px;
	height: 40px;
	display: inline-table;
}

/* ~~ Столбцы для макета. ~~ 

1) Поля размещены только вверху и/или внизу DIV. Элементы в этих DIV имеют боковые поля. Это избавляет пользователя от необходимости расчетов рамочной модели. Помните, что при добавлении боковых полей или границы к самому DIV их ширина будет добавлена к задаваемой ширине, что образует "полную" ширину. Кроме того, можно удалить поля элемента в DIV и поместить внутри него второй DIV без ширины и с необходимыми по проекту полями.

2) Столбцы не снабжаются полями, поскольку все они обтекающие. Если нужно добавить поля, то  желательно не с той стороны, с которой обтекается столбец (например, правое поле у div, настроенного на обтекание справа).  Часто вместо этого можно применить padding. В случаях, когда это правило приходится нарушить, следует добавить к правилу div объявление "display:inline", чтобы исправить ошибку с удвоением полей в некоторых версиях Internet Explorer.

3) Поскольку классы можно использовать в документе многократно (а к элементу можно применять несколько классов), то столбцам вместо идентификаторов назначены имена классов. Например, два DIV с боковыми панелями могут при необходимости стыковаться. По желанию имена можно легко заменить на идентификаторы при условии, что они используются по одному на документ.

4) Если вы предпочитаете, чтобы панель навигации была справа, а не слева, просто установите обтекание столбцов в противоположном направлении (все справа, а не слева), они выстроятся в обратном порядке. Перемещать DIV в исходном коде HTML-документа не нужно.
*/

.sidebar1 {
	float: right;
	width: 145px;
	background: #000000;
	padding: 0 0 10px 10px;
	font-size: 13px;
}

.content {
	padding: 0 0 70px 15px;
	width: 790px;
	float: left;
	color:#EEE;
}
.sidebar2 {
	float: right;
	width: 180px;
	background: #000000;
	padding: 10px 0;
	color: #FFF;
}
.hnav1 {
	margin: 0;
	margin-bottom: 20px;
	padding: 0 0 15px 15px;
	background: #000000;
	color: #FFF;
	display: inline-table;
	width: 960px;
	border-bottom: #ffffff solid 2px;
	
}

.paint img {
	width: 750px; 
	padding: 20px;
	background: #FFF;
	}
	
.paint_title {
	width: 750px;
	height: 20px;
	color: #000;
	padding: 0 20px 20px 20px;
	background: #FFF;
	font-size: 13px;
	}
	
.gtitle {
	padding: 5px;
	font-size: 13px;
	}
	

/* ~~ Этот сгруппированный селектор выдает списки в пространстве .content ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 40px; /* это поле зеркально повторяет правое поле в правиле для заголовков и параграфов выше. Внизу поле помещено как граница между элементами списков, а слева — как отступ. Поля можно настраивать по желанию. */
}

/* ~~ Стили списка навигации (можно убрать, если решено использовать готовое подменю, например Spry) ~~ */
ul.nav {
	list-style: none; /* создает верхнюю границу ссылок — все остальные размещаются с использованием нижней границы в LI */
	margin-bottom: 15px;
	background: #000000;
	background-color: #000000;
	height: auto;
}

/*
ul.nav1 a, ul.nav1 a:visited  {
	font: 10px;
}
*/

ul.nav a, ul.nav a:visited { /* группировка этих селекторов гарантирует, что ссылки будут выглядеть как кнопки даже после того, как пользователь перейдет по ним */
	padding: 5px 5px 5px 0px;
	display: block; /* наделяет привязку свойствами блока, из-за чего она заполняет весь содержащий ее элемент LI. При этом вся область реагирует на щелчок мышью. */
	width: 170px;  /*такая ширина позволяет нажимать всю кнопку в IE6. Если вам не нужна поддержка IE6, это можно удалить. Чтобы вычислить правильную ширину, вычтите ширину полей этой ссылки из ширины контейнера боковой панели. */
	text-decoration: underline;
	background: #000000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* изменяет цвет текста и фона при навигации с помощью клавиатуры и мыши */
	background: #000000;
	color: #FFF;
	text-decoration: none;
}
ul.hnav {
	padding: 10px;
	margin: 0;
	list-style: none;
	font-size: 13px;
	float: none;
	width: 960px;
}
ul.hnav li {
	float: left;
	color: #FFF;
	padding: 10px 15px 10px 0;
} 

ul.hnav li a, ul.hnav li a:visited {
	display: block;
	padding: 5px 5px 5px 0;
	margin-right: 1px;
	color: #ffffff;
	background-color: #000000;
	text-decoration: none;
}

ul.hnav a:hover, ul.hnav a:active, ul.hnav a:focus { /* изменяет цвет текста и фона при навигации с помощью клавиатуры и мыши */
	background: #000000;
	color: #FFF;
	text-decoration:underline;
}
/* ~~ Стили нижнего колонтитула ~~ */
.footer {
	padding: 15px;
	position: relative;/* IE6 получает hasLayout для правильной очистки */
	clear: both; /* это свойство очистки заставляет .container видеть место окончания столбцов и включать их */
	border-top: #ffffff solid 2px;
	height: 80px;
	color:#CCC;
}

.lfooter {
	float: left;
	font-size: 13px;
	}

.rfooter {
	float: right;
	font-size: 13px;	
	}

/* ~~ Прочие классы float/clear ~~ */
.fltrt {  /* этот класс можно использовать для обтекания элемента справа на странице. Обтекаемый элемент должен предшествовать элементу, с которым он должен находиться рядом на странице. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* этот класс можно использовать для обтекания элемента слева на странице. Обтекаемый элемент должен предшествовать элементу, с которым он должен находиться рядом на странице. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* этот класс можно поместить в теге <br /> или в пустом блоке DIV в качестве конечного элемента, следующего за последним обтекаемым DIV (внутри .container), если .footer удален или извлечен из .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
/*
.gthumb img {
	padding-right:15px;
	}

.gal {
	padding: 20px 0 0 0;
	}
	
.currentTextHolder {
	color: #999999;
	font-size: 12px;
	padding: 0;
	}
*/